@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

body{
    font-size: 62.5%;
    margin: 0;
    overflow-x: hidden;
    font-family: Raleway , Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
header nav ul li{
    list-style-type: none;
    margin-right: 20px;
}

header nav  a{
    color: #666666;
    

}
.logo{
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    margin-top: 11px;
    transition: 0.5s;
}

.logo:hover {
    text-shadow: 1px 1px 1px black;
  
}

header nav ul li  a{
    font-size: clamp(0.4rem, 0.8vw, 0.8rem);

}

header nav ul li  a:hover{
    text-shadow: 1px 1px 1px black;
}

.header{
    background: url("../img/photo-1443527216320-7e744084f5a7-1.jpg.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.h-header{
    font-size: 2.75rem;
    color: white;
    font-weight: 400;
}

.p-header{
    font-size: 14px;
    color: white;
    margin-bottom: 50px;
}

.header a{
    color: white;
    margin: 30px;
    border: 1px solid white;
    padding: 10px 30px;
    transition: 0.3s;
}
.header a:hover{
    background-color: #745CF9;
}